<template>
  <div class="bg-color">
    Цвет фона:
    <button
        v-for="bgColor in bgColors"
        :key="bgColor.id"
        :style="{ backgroundColor: bgColor }"
        @click="changeBgColorTextSelected"
    ></button>
  </div>
</template>

<script>
export default {
  name: "ColorBackground",
  props: {
    bgColors: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      colorBgText: ''
    }
  },
  methods: {
    changeBgColorTextSelected(e){
      this.colorBgText = e.target.style.backgroundColor;
      this.$emit('changeBgColorTextSelected', this.colorBgText)
      console.log(this.colorBgText)
    }
  }
}
</script>

<style lang="sass" scoped>
.bg-color
  margin-right: 15px
  display: flex
  align-items: center
  & button
    width: 15px
    height: 15px
    outline: none
    border: none
    cursor: pointer
</style>