<template>
  <div class="color-text">
    Цвет текста:
    <button
        v-for="color in colors"
        :key="color.id"
        :style="{ backgroundColor: color }"
        @click="changeColorTextSelected"
    ></button>
  </div>
</template>

<script>
export default {
  name: "ColorText",
  props: {
    colors: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      colorText: ''
    }
  },
  methods: {
    changeColorTextSelected(e) {
      this.colorText = e.target.style.backgroundColor;
      this.$emit('changeColorTextSelected', this.colorText)
    }
  }
}
</script>

<style lang="sass" scoped>
.color-text
  display: flex
  align-items: center
  margin-right: 15px
  & button
    width: 15px
    height: 15px
    outline: none
    border: none
    cursor: pointer

</style>