<template>
  <div class="size-text">
    Размер текста:

    <select
        name="size"
        id="sizeText"
        @change="changeSizeTextSelected"
        v-model="size"
    >
      <option
          v-for="size in this.sizes"
          :key="size.id"
          :value="size"
      > {{ size }}px</option>
    </select>
  </div>
</template>

<script>
export default {
  name: "SizeText",
  props: {
    sizes: {
      type: Array,
      default: () => []
    }
  },
  data(){
    return {
      size: ''
    }
  },
  methods: {
    changeSizeTextSelected() {
      this.$emit('changeSizeTextSelected', this.size)
    }
  }
}
</script>

<style lang="sass">
.size-text
  margin-right: 15px
</style>