<template>
  <div class="wrap">
    <edit-panel/>
    <div contenteditable = "true" class="editor"></div>
  </div>
</template>

<script>
import EditPanel from "@/components/EditPanel/EditPanel";
export default {
  name: "TextField",
  components: {
    EditPanel,
  }
}
</script>

<style lang="sass">
.wrap
  display: flex
  width: 100%
  flex-direction: column
.editor
  border: 1px solid #ccc
  width: 100%
  height: 100%
  text-align: left
  padding: 15px
</style>