<template>
  <div class="tools">
    <size-text
        :sizes="sizes"
        @changeSizeTextSelected="changeSizeTextSelected"
    />
    <color-text
        :colors="colors"
        @changeColorTextSelected="changeColorTextSelected"
    />
    <color-background
        :bgColors="bgColors"
        @changeBgColorTextSelected="changeBgColorTextSelected"
    />
  </div>
</template>

<script>
import SizeText from "@/components/EditPanel/Buttons/SizeText";
import ColorText from "@/components/EditPanel/Buttons/ColorText";
import ColorBackground from "@/components/EditPanel/Buttons/ColorBackground";
export default {
  name: "EditPanel",
  components: {
    SizeText,
    ColorText,
    ColorBackground
  },
  data(){
    return {
      sizes: [10,20,30,40],
      colors: [
          '#000',
          '#ccc',
          '#e33617'
      ],
      bgColors: [
          '#0cee6c',
          '#3b60e9',
          '#ecb814'
      ]
    }
  },
  methods: {
    changeSizeTextSelected(e){
      const range = window.getSelection().getRangeAt(0);
      const span = document.createElement('span');
      span.style.fontSize = `${e}px`;
      range.surroundContents( span );
    },
    changeColorTextSelected(e) {
      const range = window.getSelection().getRangeAt(0);
      const span = document.createElement('span');
      span.style.color = `${e}`;
      range.surroundContents( span );
    },
    changeBgColorTextSelected(e) {
      const range = window.getSelection().getRangeAt(0);
      const span = document.createElement('span');
      console.log(span.style.backgroundColor)
      span.style.backgroundColor = `${e}`;
      range.surroundContents( span );
    }
  }
}
</script>

<style lang="sass">
  .tools
    width: 100%
    height: auto
    display: flex
    align-items: center
    margin-bottom: 15px
</style>