<template>
  <div id="app">
    <div class="container">
      <TextField />
    </div>
  </div>
</template>

<script>
import TextField from "@/components/TextField";

export default {
  name: 'App',
  components: {
    TextField,
  }
}
</script>

<style lang="sass">
#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  margin-top: 60px
.container
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  max-width: 1200px
  width: 100%
  height: 500px
</style>
